h1 {
  background: rgb(203, 201, 230);
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-family: "PT Mono", monospace;
  font-weight: normal;
}
